@inherits LayoutComponentBase
@using FinTrackPro.Components.Layout

<main>
    <div> 
    
        <MudThemeProvider />
        <MudPopoverProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
    </div>
    <article class="content px-4">
        @Body
    </article>
</main>