@inherits LayoutComponentBase
<link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
<body>
    <style>
      

        nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 260px;
            background: #fff;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
            transition: all 0.4s ease;
        }

            nav .logo {
                display: flex;
                align-items: center;
                margin: 24px;
            }

        .logo .menu-icon {
            color: #333;
            font-size: 24px;
            margin-right: 14px;
            cursor: pointer;
        }

        .logo .logo-name {
            color: #333;
            font-size: 22px;
            font-weight: 500;
        }

        nav .sidebar-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 16px;
            height: 100%;
        }

        .sidebar-content .list {
            list-style: none;
        }

        .list .nav-link {
            display: flex;
            align-items: center;
            margin: 8px 0;
            padding: 14px 12px;
            border-radius: 8px;
            text-decoration: none;
            margin-bottom: 81px;
        }

        .lists .nav-link:hover {
            background-color: #4070f4;
        }

        .nav-link .icon {
            margin-right: 14px;
            font-size: 20px;
            color: #707070;
        }

        .nav-link .link {
            font-size: 22px;
            color: #707070;
            font-weight: 400;
        }

        .lists .nav-link:hover .icon,
        .lists .nav-link:hover .link {
            color: #fff;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: -100%;
            height: 1000vh;
            width: 200%;
            opacity: 0;
            pointer-events: none;
            transition: all 0.4s ease;
            background: rgba(0, 0, 0, 0.3);
        }

        /* Remove the `nav.open .sidebar` CSS rule and set the sidebar to always be visible */
        nav.open ~ .overlay {
            opacity: 1;
            left: 260px;
            pointer-events: auto;
        }
    </style>
    <nav>
        <div class="sidebar">
            <div class="logo">
                <i class="bx bx-menu menu-icon"></i>
                <span class="logo-name">Fintrack</span>
            </div>
            <div class="sidebar-content">
                <ul class="lists">
                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="link">Dashboard</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/transaction" class="nav-link">
                            <i class="bx bx-bar-chart-alt-2 icon"></i>
                            <span class="link">Transaction</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/debts" class="nav-link">
                            <i class="bx bx-bell icon"></i>
                            <span class="link">Debts</span>
                        </a>
                    </li>

                    <li class="list">
                        <a href="/" class="nav-link">
                            <i class="bx bx-log-out icon"></i>
                            <span class="link">Logout</span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <section class="overlay"></section>
    @Body
</body>

